/*https://getbootstrap.com/docs/5.1/examples/dropdowns/dropdowns.css*/

.data-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /*change 7 to 8 */
    align-items: stretch;
}

.data-cell {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin: 1em 1em 0 0;
    padding: 0;
}

.data-cell:hover,
.data-cell:focus {
    background-color: rgba(0, 0, 0, .05);
}

.data-cell[disabled] {
    opacity: .5;
}
